<h1>Form post</h1>
<%= form_with method: "post", url:"/post-new", model: @post do |form| %>
<div>
<%= form.label :title %>
<%= form.text_field :title, placeholder: "title" %>
</div>
<div>
<%= form.label :body %>
<%= form.text_area :body, placeholder: "body" %>
</div>

<div>
<%= form.submit "submit your post" %>
</div>
<% end %>